@model  FileExchange.Infrastructure.PageList.PagedList<FileExchange.Models.ViewNewsViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "ViewNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <h1 class="page-header">News</h1>
</div>
@foreach (var newsModel in Model)
{
    <div class="media">
        <a class="media-left media-middle" href="#">
            <img src="@newsModel.ImagePath" alt="@newsModel.OrigImageName" class="img-view-news">
        </a>
        <div class="media-body">
            <h4 class="media-heading">@newsModel.Header</h4>
            @Html.Raw(@newsModel.Text)
        </div>
    </div>
    <div class="col-lg-12">
        <h1 class="page-header"></h1>
    </div>
}
<div id="unobtrusive">
    <div class="col-sm-10">
        <div class="center">
            @Html.PagedListPager(Model, page => Url.Action(MVC.News.ActionNames.ViewNews, new { page, PageSize = Model.PageSize }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "unobtrusive" }))
        </div>
    </div>
</div>
