@using MvcCheckBoxList.Model
@model FileExchange.Areas.Admin.Models.EditUserViewModel
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            $("#btnChangeUserPassword").click(function () {
                $.confirm({
                    text: "Are you sure you want to change user password?",
                    title: "Confirmation required",
                    confirm: function() {
                        ChangeUserPassword();
                    },
                   confirmButton: "Yes",
                    cancelButton: "No",
                    post: true,
                    confirmButtonClass: "btn-danger",
                    cancelButtonClass: "btn-default"
                });
            });
        });
        function ChangeUserPassword() {
            $.ajax({
                url: '@Url.Action(MVC.Admin.Users.ActionNames.ChangeUserPassword,new {userId=Model.UserId})',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.Success) {
                        alert('Success');
                    } else {
                        alert(data.Error);
                    }
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            });
        }
    </script>
}
<a href="home" class="confirm">Go to home</a>
@using (Html.BeginForm(MVC.Admin.Users.EditUser(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(u => u.UserName)
    @Html.HiddenFor(u => u.UserEmail)
    @Html.HiddenFor(u=>u.UserId)
    @Html.ValidationSummary(true)
    <div class="col-md-9 personal-info">
        <div class="form-group">
            <label class="col-lg-4 control-label">@Html.LabelFor(u => u.FileMaxSizeKbps)</label>
            <div class="col-lg-2">
                @Html.TextBoxFor(u => u.FileMaxSizeKbps, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 control-label">@Html.LabelFor(u => u.MaxDonwloadSpeedKbps)</label>
            <div class="col-lg-2">
                @Html.TextBoxFor(u => u.FileMaxSizeKbps, new { @class = "input-sm form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label">User Roles:</label>
            <div class="col-lg-8">
                @Html.CheckBoxListFor(u => u.RolesIds,
                                      u => u.UserRoles,
                                      r => r.RoleId,
                                      r => r.RoleName,
                                      u => u.SelectedUserRoles,
                                      Position.Horizontal)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-lg-8">
                <input type="submit" value="Update" class="btn btn-primary" />
                @Html.ActionLink("Cancel", MVC.Admin.Users.ActionNames.ViewUsers, MVC.Admin.Users.Name, null, new { area = MVC.Admin, @class = "btn btn-primary" })
                <input type="button" value="Change user password" id="btnChangeUserPassword" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
