@model FileExchange.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm(MVC.Account.Register(),FormMethod.Post,new { @class = "form-horizontal" }))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="control-group">
            @Html.LabelFor(m => m.UserName)
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName, new {@class = "input-xlarge"})
            </div>
            @Html.ValidationMessageFor(x => x.UserName)
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Password)
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new {@class = "input-xlarge"})
            </div>
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "input-xlarge"})
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.Email)
            <div class="controls">
                @Html.TextBoxFor(m => m.Email, new {@class = "input-xlarge"})
            </div>
        </div>
        <div class="control-group">
            @Html.Partial(MVC.Shared.Views._captcha, new FileExchange.Models.Captcha())
        </div>
        <input type="submit" class="btn btn-success" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
